NODE_ENV=production
NEXT_PUBLIC_BASE_PATH=
NEXT_PUBLIC_STRAPI_URL=http://155.212.218.145:1337
NEXT_PUBLIC_YANDEX_MAPS_API_KEY=replace_me
NEXT_PUBLIC_MIXPANEL_TOKEN=99c5d1a1e66a8bc1fb990161dd1ae4c5
NEXT_PUBLIC_MIXPANEL_API_HOST=https://api-eu.mixpanel.com
NEXT_PUBLIC_ROBOKASSA_INIT_URL=http://155.212.218.145:1337/api/payments/robokassa/init

# Optional notifications from Next.js API routes
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
